<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Course Syllabus</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Course Introduction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will go over course content, logistics, grading. Demonstrate our robot. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Gretchen Robot Assembly & Software Installation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will assemble 3D-printed parts, motors, sensors to create our robot. We will install our software development environment. <p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Introduction to Robotics & First Steps with Gretchen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will go over the basics of robotics. We will demonstrate various tasks using motor and camera control.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tracking a Ball</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will learn color spaces, traditional computer vision, and track an object with the robot's head.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Face Pose Estimation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will go over basics of machine learning and types of ML. We will use our robot to perform face detection and head pose estimation. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Introduction to Machine Learning & Object Detection with Deep Learning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will learn about basics of deep learning, perceptrons, and neural networks. We will train and detect objects with YOLO.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Project Ideas & Additional Libraries</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will introduce project ideas to encourage you come up with your own ideas. We will show past projects. To help you with your projects, we will introduce you to additional libraries. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <h4>Project Presentations</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">You will demonstrate and present your project.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
