<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Course Description</h2>
                    <h3 class="section-subheading text-muted" align="justify">Discover the fascinating world of robotics and artificial intelligence in "First Steps in Programming a Humanoid AI Robot." This hands-on course offers a comprehensive exploration of robotics, computer vision, machine learning, and AI, all presented in a practical and accessible manner. No particular prior knowledge on robotics or programming is required, however, basic Python skills are recommended. Each student is provided with a robot kit to work with for the duration of this course.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-tools fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> Building Your Robot</h4>
                    <p class="text-muted">We begin our journey by assembling a humanoid robot from 3D-printed parts that are combined with motors, sensors, and a control board. We then get acquainted with the programming environment to explore our robots’ capabilities.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-solid fa-brain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Unleashing the Power of Robotics, Computer Vision, and AI</h4>
                    <p class="text-muted">Informative introductory lectures on robotics, computer vision, machine learning, and AI provide the necessary background for practical exercises that allow you to apply our newfound knowledge right away. You will learn essential skills such as robot and camera positioning, object detection, facial recognition, and deep learning tasks to transform your robot into a versatile tool that is able to interpret its surroundings.</p>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-6">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-solid fa-laptop fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Personalizing and Enhancing Your Robot</h4>
                  <p class="text-muted">In team-based labs, you collaborate with fellow students to customize your robot's abilities and teach it new tasks. Choose from a curated list of topics or propose your own project if you have advanced Python or AI skills. Witness your robot's growth as it becomes a more capable and intelligent companion.</p>
              </div>


              <div class="col-md-6">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Showcasing Your Robot's Skills</h4>
                  <p class="text-muted">The course concludes with exciting presentations of the different teams where you can demonstrate your robot's newfound capabilities in action and share your experiences and accomplishments with your peers.</p>
              </div>

            </div>

        </div>
    </section>
